{% extends 'layout.html' %}

{% block body %}
<h1>Register</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action={{ url_for('users.signin') }}>
    <div class="form-group">
        <label for="name">Username:</label>
        <input type='text' name="username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="name">Password:</label>
        <input type='password' name="password" class="form-control" />
    </div>
    <a class="btn btn-primary" href="{{url_for('google_login')}}">Google Login</a>
    <h1></h1>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
{% endblock %}